In [1]:
print("Hello world")

Hello world

In [2]:
"""
Purpose: print() function syntax and usage
"""

'\nPurpose: print() function syntax and usage\n'

In [3]:
name = "Almighty"  # str

In [4]:
name

'Almighty'

In [5]:
print(name)

Almighty

In [6]:
print("name")

name

In [7]:
print("name")
print(name)

name
Almighty

In [8]:
print("name", name)
print("name:", name)
print("name=", name)

name Almighty
name: Almighty
name= Almighty

In [10]:
print("Name of student is name")
print("Name of student is ", name)

Name of student is name
Name of student is  Almighty

In [12]:
print("Name of student is ", name)
print("Name of student is", name)
print("Name of student is"+ name)

Name of student is  Almighty
Name of student is Almighty
Name of student isAlmighty

In [13]:
print("Name of student is", name)
print("Name of student is", name, sep=" ")
print("Name of student is", name, sep="-")
print("Name of student is", name, sep="")

Name of student is Almighty
Name of student is Almighty
Name of student is-Almighty
Name of student isAlmighty

In [14]:
print(1, 2, 3, 4, 5, 6)  # default sep=' '
print(1, 2, 3, 4, 5, 6, sep=" ")

1 2 3 4 5 6
1 2 3 4 5 6

In [15]:
print(1, 2, 3, 4, 5, 6, sep="~")
print(1, 2, 3, 4, 5, 6, sep="_")
print(1, 2, 3, 4, 5, 6, sep=":")

1~2~3~4~5~6
1_2_3_4_5_6
1:2:3:4:5:6

In [16]:
# NOTE: Python is dynamic typed language
name = 1232
print("Name of Student is", name)

Name of Student is 1232

In [17]:
#           str              int
print('Name of Student is'+ name)

TypeError: can only concatenate str (not "int") to str

In [18]:
# NOTE: Python is a strictly typed language
print("1 + 2        =", 1 + 2)      # addition
print("'1' + '2'    =", "1" + "2")  # string concatenation

1 + 2        = 3
'1' + '2'    = 12

In [19]:
# 1 + '2' # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# type converters - str(), int(), float()
print("1 + int('2') =", 1 + int("2"))
print("str(1) + '2' =", str(1) + "2")

1 + int('2') = 3
str(1) + '2' = 12

In [20]:
print("int('234')   =", int("234"))

int('234')   = 234

In [21]:
print("int('23.4')  =", int('23.4'))

ValueError: invalid literal for int() with base 10: '23.4'

In [23]:
# print("int('23.4')  =", int('23.4')) # ValueError: invalid literal for int() with base 10: '23.4'
# print("int('two')  =", int('two')) # ValueError: invalid literal for int() with base 10: 'two'

In [24]:
print("Name of Student is" + str(name))
print("Name of Student is" + " " + str(name))

Name of Student is1232
Name of Student is 1232

Escapes Sequences

    - characters whose presence is felt, but they were not printed
        \t - tab space
        \n - new line
        \b - overwrites previous character

    r'' - raw string

In [26]:
print("hello world python")

hello world python

In [27]:
print("hello \tworld \tpython")

hello 	world 	python

In [28]:
print("hello \tworld \npython")

hello 	world
python

In [29]:
# To ignore the escape sequences
print("hello \tworld \\npython")

hello 	world \npython

In [30]:
print(r"hello \tworld \npython")

hello \tworld \npython

In [33]:
print("C:\my\newfolder")

C:\my
ewfolder

In [34]:
print("C:\\my\\newfolder")

C:\my\newfolder

In [35]:
print(r"C:\my\newfolder")

C:\my\newfolder

print(data, sep=' ', end = '\n')

In [36]:
print("hello")  # default end='\n'
print("world")

hello
world

In [37]:
print("hello", end="\n")
print("world", end="\n")

hello
world

In [38]:
print("hello", end="___")
print("world")  # default end='\n'

hello___world

In [39]:
print("hello", end="\t")
print("world")  # default end='\n'

hello	world

In [40]:
print("hello", "python", 12132, end="\t")  # default sep= ' '
print("world")  # default end='\n'

hello python 12132	world

In [41]:
print("hello", "python", 12132, end="\t", sep=";")
print("world")  # default end='\n'

hello;python;12132	world

In [42]:
print(1, 2, 3, 4, 5, sep=";", end="\t")
print("a", "b", "c", "d", sep="-")  # default end='\n'

1;2;3;4;5	a-b-c-d

In [45]:
# \b - overwrites previous character
print("Hei")
print("He\bi")
print("He\b")

Hei
Hi
H

In [46]:
print("12\b34")
print("first\bsecond")
print("\bsecond")
print("second\b")

134
firssecond
second
secon

In [47]:
# \r - overwrites complete existing line
print("He\ri")
print("12\r34")
print("first\rsecond")
print("abcdef\r1234")
print("1234567\rDOG")

ie
34
second
1234ef
DOG4567

In [48]:
# Unicode characters \uXXX - unicode character
print("\u20B9")  # ₹
print("\u018e")  # Ǝ

print("\046")  # &

₹
Ǝ
&

In [49]:
# \x... - hexadecimal number  - 0 to 9 and Ato F
print("\x24")
print("\xf1")

$
ñ

In [50]:
# \o... - octal number  - 0 to 8
print("\o24")
print("\021")

\o24


In [51]:
print("#$%*&^(*;")

#$%*&^(*;