# Arithmetic Operations


    Integer Family
        - int
        - long -> only in python 2.x
        - float

        - complex
        - bool

In [1]:
# = assignment operator

num1 = 100
num2 = 200

In [2]:
num3 = num2

In [3]:
print("num1 =", num1, type(num1))
print("num2 =", num2, type(num2))
print("num3 =", num3, type(num3))

num1 = 100 <class 'int'>
num2 = 200 <class 'int'>
num3 = 200 <class 'int'>

In [4]:
# + - * / // %
# NOTE: PEP 8 recommends to place one space around the operator

In [5]:
# 1. Addition
num3 = num1 + num2  # int + int = int

In [6]:
num3

300

In [7]:
print(" num3=", num3)

 num3= 300

In [8]:
num4 = 1.0  # float
print("num4=", num4, type(num4))

num4= 1.0 <class 'float'>

In [9]:
num4 = -1.2342342342  # float
print("num4=", num4, type(num4))

num4= -1.2342342342 <class 'float'>

In [10]:
num5 = num1 + num4  # int + float = float
print("num5=", num5, type(num5))

num5= 98.7657657658 <class 'float'>

In [11]:
# Question 1: what is the largest number that can be processed in python
num6 = 9999999956456434344343242343232423423423423423423432432423434123232323
print("num6=", num6, type(num6))

num6= 9999999956456434344343242343232423423423423423423432432423434123232323 <class 'int'>

In [12]:
# Question 2: what is the smallest number that can be processed in python
num6 = 0.00002130213869388792183798798321989812739
print("num6=", num6, type(num6))

num6= 2.130213869388792e-05 <class 'float'>

In [14]:
from decimal import Decimal

0.000000000001, Decimal("0.000000000001")

(1e-12, Decimal('1E-12'))

In [15]:
0.2343242349000, Decimal("0.2343242349000")

(0.2343242349, Decimal('0.2343242349000'))

In [16]:
from fractions import Fraction

1/3, Fraction('1/3')

(0.3333333333333333, Fraction(1, 3))

In [17]:
# Arithmetic Operations
print("123 + 100 = ", 123 + 100)
print("123 - 100 = ", 123 - 100)
print("123 * 100 = ", 123 * 100)
print("123 / 100 = ", 123 / 100)

123 + 100 =  223
123 - 100 =  23
123 * 100 =  12300
123 / 100 =  1.23

In [18]:
print("10/2 = ", 10 / 2)
print("10/5 = ", 10 / 5)
print("10/3 = ", 10 / 3)
# NOTE: division result will be floating point every time

10/2 =  5.0
10/5 =  2.0
10/3 =  3.3333333333333335

```
3 )10 (3.3
    9
   ---
    10
     9
--------
     10


3) 10(3  <-- Quotient  //
    9
   --
    1  <-- Remainder  %

```

In [19]:
print("10 / 3 = ", 10 / 3)    # true division
print("10 // 3 = ", 10 // 3)  # quotient - floor division
print("10 % 3  = ", 10 % 3)   # remainder - modulo division

10 / 3 =  3.3333333333333335
10 // 3 =  3
10 % 3  =  1

In [20]:
print("divmod(10, 3)=", divmod(10, 3))  # //, %

divmod(10, 3)= (3, 1)

In [21]:
"""
10/2

    2 ) 10 ( 5  <-- Quotient
        10
        ---
         0  <--- remainder

"""
print()
print("10 // 2      =", 10 // 2)
print("10 % 2       =", 10 % 2)
print("divmod(10, 2)=", divmod(10, 2))  # //, %

10 // 2      = 5
10 % 2       = 0
divmod(10, 2)= (5, 0)

In [22]:
# IMPORTANCE OF SIGNS
print("10 / 3   = ", 10 / 3)  # 3.3333333333333335
print("-10 / 3  = ", -10 / 3)  # -3.3333333333333335
print("10 / -3  = ", 10 / -3)  # -3.3333333333333335
print("-10 / -3 = ", -10 / -3)  # 3.3333333333333335

10 / 3   =  3.3333333333333335
-10 / 3  =  -3.3333333333333335
10 / -3  =  -3.3333333333333335
-10 / -3 =  3.3333333333333335

In [23]:
# The result is always rounded towards minus infinity
print("10 // 3   = ", 10 // 3)    # 3     3 <  3.333 < 4
print("-10 // 3  = ", -10 // 3)   # -4    -4 < -3.333 < 3
print("10 // -3  = ", 10 // -3)   # -4    -4 < -3.333 < 3
print("-10 // -3 = ", -10 // -3)  # 3     3 <  3.333 < 4

10 // 3   =  3
-10 // 3  =  -4
10 // -3  =  -4
-10 // -3 =  3

In [24]:
print("10 % 3   = ", 10 % 3)    # 1
print("-10 % 3  = ", -10 % 3)   # 2
print("10 % -3  = ", 10 % -3)   # -2
print("-10 % -3 = ", -10 % -3)  # -1

10 % 3   =  1
-10 % 3  =  2
10 % -3  =  -2
-10 % -3 =  -1

## Compound operations

In [25]:
100 + 123

223

In [26]:
num1 = 100 + 123
num1

223

In [27]:
num1 + 10

233

In [28]:
num1

223

In [29]:
num1 = num1 + 10

In [30]:
num1

233

In [31]:
# NOTE: In cases, where the same variable is present both the sides,
# then compound operations are valid
num1 += 10 # num1 = num1 + 10
num1

243

In [32]:
num1 -= 6 # num1 = num1 - 6

num1

237

In [33]:
num1 *= 10 # num1 = num1 * 10
num1

2370

In [34]:
num1 *= (1.5 + 20 - 4 / 5)  # num1 = num1 *(1.5 + 20 - 4/5)
print("num1 =", num1)  #

num1 = 49059.0

In [35]:
other_num = 50
num1 /= other_num  # num1 = num1 / other_num#
num1

981.18

In [36]:
num1 %= 10  # num1 = num1 % 10
print("num1 =", num1)

num1 = 1.17999999999995

In [37]:
num1 **= 10  # num1 = num1 ** 10
print("num1 =", num1)

num1 = 5.233835553796349

In [38]:
# NOTE: python doesn't support unary operations ;
# ++i, i++, --i, i--
# it should used as i += 1, i -=1

In [39]:
# *  multiplication operator
# ** power operator

In [40]:
print("power operation **")
print("4 ** 2           = ", 4**2)
print("64 ** (1/2)      = ", 64 ** (1 / 2))  # square root
print("64 ** (1/2.0)    = ", 64 ** (1 / 2.0))  # square root
print("64 ** 0.5        = ", 64**0.5)  # square root

power operation **
4 ** 2           =  16
64 ** (1/2)      =  8.0
64 ** (1/2.0)    =  8.0
64 ** 0.5        =  8.0

In [41]:
# Operator precedence - PEMDAS
print("64 ** 1/2        = ", 64**1 / 2)  # 32
print("(64 ** 1)/2      = ", (64**1) / 2)  # 32
print("64 ** (1/2)      = ", 64 ** (1 / 2))  # 8.0

64 ** 1/2        =  32.0
(64 ** 1)/2      =  32.0
64 ** (1/2)      =  8.0

In [1]:
print("pow(4,2)         =", pow(4, 2))
print("pow(64,1/2)      =", pow(64, 1 / 2))
print("pow(64,1/2.0)    =", pow(64, 1 / 2.0))
print("pow(64,0.5)      =", pow(64, 0.5))

pow(4,2)         = 16
pow(64,1/2)      = 8.0
pow(64,1/2.0)    = 8.0
pow(64,0.5)      = 8.0

In [2]:
pow(4, 2, 9) # (4 ** 2) % 9

7

In [3]:
(4 ** 2) % 9

7

In [4]:
# == value level equivalence check - check LHS & RHS
2 == 2

True

In [5]:
num1 = 200
num2 = 200

num1 == num2

True

In [6]:
pow(4, 2, 9) == (4 ** 2) % 9

True

In [7]:
print("Exponent Notation/Representation")
print("1e1           = ", 1e1)
print("1 * 10.0 ** 1 = ", 1 * 10.0**1)

Exponent Notation/Representation
1e1           =  10.0
1 * 10.0 ** 1 =  10.0

In [8]:
e

NameError: name 'e' is not defined

In [10]:
1e1

10.0

In [11]:
print("velocity of light", 3e8)  # 3 * 10.0 ** 8

velocity of light 300000000.0

In [12]:
3e2

300.0

In [13]:
3e12

3000000000000.0

In [14]:
-2.3e4

-23000.0

### number formatting

    Representing big(large and small) numbers

    Numeric literal allow optional underscores to help
    improve the readability

In [15]:
num = 100
print("num =", num)

num = 100

In [16]:
765765765785878686876876868

765765765785878686876876868

In [17]:
76576576578587868687,68,76,868  # tuple

(76576576578587868687, 68, 76, 868)

In [18]:
76576576578587868687_68_76_868

765765765785878686876876868

In [19]:
76576576_5785_878.68687_68_76_868

765765765785878.6

In [20]:
# Larger numbers
speed_of_light = 299792458
print(type(speed_of_light), speed_of_light)

speed_of_light = 299,792,458
print(type(speed_of_light), speed_of_light)

speed_of_light = 299_792_458
print(type(speed_of_light), speed_of_light)

<class 'int'> 299792458
<class 'tuple'> (299, 792, 458)
<class 'int'> 299792458

In [21]:
speed_of_light = "299_792_458"
print(type(speed_of_light), speed_of_light)

<class 'str'> 299_792_458

In [22]:
# smaller numbers
pi_value = 3.1415_9232_2321_3453
print(type(pi_value), pi_value)

<class 'float'> 3.1415923223213453

In [23]:
avogadro_number = 6.022_140_857e23
print(type(avogadro_number), avogadro_number)

<class 'float'> 6.022140857e+23

In [24]:
print(1_2_3_4_53_213_213)  # 123453213213

123453213213

In [25]:
1_2_3_4_53_213__213

SyntaxError: invalid decimal literal (2094855992.py, line 1)

NOTE:  NO MORE THAN ONE CONTINOUS UNDERSCORES SyntaxError: invalid decimal literal